table {
    width:100%;
}
tbody, tr {
    display:block;
}

td:first-child {
    width:400px;
}
td {
	padding-left:1em;
	padding-right:1em;
	padding-top:0.25em;
	padding-bottom:0.25em;
}
.summary {
	background-color: rgb(85%,85%,85%);
}
.summary:hover{
    background-color: rgb(75%,75%,75%);
}

.details  {
	background-color: rgb(90%,90%,90%);
}
.details tr{
    padding-left:1em;
}