<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../resources/gui.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="../resources/gui_tables.js" defer="1"></script>
	</head>
	<body>
		<div>
			<p>Shows the top 20 groups of numerically equivalent submissions. Within each group, the 20 most common submission strings are shown.</p>
		</div>
		<table>
			<thead>
				<tr>
					<th>submission</th>
					<th>fraction correct</th>
					<th>frequency</th>
					<th>count</th>
				</tr>
			</thead>
			<tbody>
				<tr class="eval">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr class="subm">
					<td colspan="4">
						<div>
							<table>
								<thead></thead>
								<tbody>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>