table {
	border-spacing:0px;
}

td {
	padding-left:1em;
	padding-right:1em;
	padding-top:0.25em;
	padding-bottom:0.25em;
}

/*For index*/

.intro {
}

/*For problem tables*/
.eval {
	background-color: rgb(85%,85%,85%);
}

.subm  {
	background-color: rgb(90%,90%,90%);
}

.subm td div {
	display:none;
	/*Fix height, then set overflow to enable scroll bars*/
	max-height:200px;
	overflow:auto;
	width:100%;
}

/*Explicitly set padding and margin in order to maintain layout during slideToggle.  */
.subm td  {
	padding-left:1em;
}

.subm td div table tr td {
	padding-left:1em;
	padding-right:1em;
	padding-top:0.25em;
	padding-bottom:0.25em;
	margin:1em;
}

/*During the slideToggle, we add class .hidden to toggled elements in order to remove vertical padding.*/
.hidden td {
	padding-top:0;
	padding-bottom:0;
}

/*For hovering*/
.highlight{
	background-color:rgb(75%,75%,75%);
}